*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.blogs{
  display:flex;
}

.create-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.placeholder-image {
  font-size: 18px;
  color: #aaa;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.title-input,
.story-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contain {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%;
}
.category {
  margin-right: 10px; 
}
.publish-btn {
  background-color: #007bff;
  width:100px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.publish-btn:hover {
  background-color: #0056b3;
}


.image{
  width:100%;
  height:500px;
}
.btn{
  width:150px;
}

.signup,.login{
  max-width:400px;
  margin:0 auto;
  border:1px solid #ccc;
  border-radius:5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding:20px;
  margin-top:5rem;
}

.signup,.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align:start;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}